 
#create-new-account-button{
    margin: 0px;
}

.add-on{
    margin-top: 0px;
}

.sr-not-active{
    width: 97.3%;   
}


.sr-vertical-rule{
}

.placeholder { 
    color: #999999;
    font-weight: lighter; 
}


#placeholder-datepicker{
    left: 33px;
    top: -22px;
}

#terms_and_conditions-error-label{
    left: 60px;
    top: -19px; 
}

.inner-footer{
    background-color: white;
}

.ie7 .sr-background-yellow {  
    width: 100%; 
}  

#sr-email-icon{
    *padding-left:10px;
    *margin-top:10px;
}

.ie8-tnc-error-label{
	*left: 70px;
}
