 
#create-new-account-button{
    margin: 0px;
}

.add-on{
    margin-top: 0px;
}

.sr-not-active{

}


.sr-vertical-rule{
}

.placeholder { 
    color: #999999;
    font-weight: lighter; 
}


#placeholder-datepicker{
    left: 33px;
    top: -22px;
}

#terms_and_conditions-sr-error-label{
    left: 70px\9;
    left: 30px/IE9;
    top: -19px; 
}

.inner-footer{
    background-color: white;
}


#sr-email-icon{
    *padding-left:10px;
    *margin-top:10px;
}

#terms_and_conditions-sr-error-label .sr-error-label{
	margin-left:0px;
 }