@CHARSET "UTF-8";

li {
	margin-left: 15px !important;
}

.vertical-rule {
    
    background: -moz-linear-gradient(top, #CCCCCC 100%, #CCCCCC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#CCCCCC), color-stop(100%,#CCCCCC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #CCCCCC 100%,#CCCCCC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #CCCCCC 100%,#CCCCCC 100%); /* Opera 11.10+ */
   
    background-position: 50%;
	background-repeat: repeat-y;
	background-size: 1px auto;
	height: 250px;
}

.vertical-rule-hidden {
    
	height: 250px;
}

.title_red {
	color: #A40219;
	font-size: 22px;
}

.error_red {
	color: #800000;
}

.link_blue {
	color: #0066DD !important;
	cursor: pointer !important;
}

.dark_grey {
	color: #666666;
}

.light_grey {
	color: #888888;
}

.lighter_grey {
	color: #CCCCCC;
}

.border_grey {
	color: #A40219;
}

.background_grey {
	background-color: #EEEEEE;
}

.background_yellow {
	background-color: #FFFFCC !important;
	*width: 100% !important;
	*padding-bottom: 20px;
	*padding-top: 20px;
	
}

.clear_5 {
	min-height: 5px;
}

.clear_10 {
	min-height: 10px;
}

.clear_20 {
	min-height: 20px;
}

.clear_15 {
	min-height: 15px;
}

.clear_30 {
	min-height: 30px;
}

.fb {
	background: -moz-linear-gradient(center top, #3B5998 0%, #3B5998 50%, #325190 50%,
		#325190 100%) repeat scroll 0 0 transparent;
	box-shadow: 0 3px 0 #213B6D;
}

.login_button {
	-khtml-user-select: none;
	-moz-border-radius: 5px;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-border-radius: 5px;
	-webkit-user-select: none;
	border-radius: 5px;
	display: inline-block;
	height: 37px;
	min-width: 200px;
	user-select: none;
}

.fb a {
	color: #221919;
	font-weight: bold;
	outline: medium none;
	text-decoration: none;
}

.fb .logo_wrapper {
	border-right: 1px solid #2F4F85;
}

.fb:hover .logo_wrapper {
	border-right: 1px solid #284473;
}

.login_button .logo_wrapper {
	float: left;
	margin-top: 7px;
	padding: 3px 12px;
}

.fb .logo {
	background: url("../img/login_icons.png") no-repeat scroll 1px 0
		transparent;
	float: left;
	height: 20px;
	width: 11px;
}

.fb>span {
	border-left: 1px solid #627BA8;
	font-weight: bold;
}

.login_button>span {
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: 500;
	margin-top: 7px;
	min-height: 20px;
	padding: 3px 12px;
    line-height: 20px;
}

.fb:active {
	-moz-box-shadow: inset 0 1px 0 rgba(50, 50, 50, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(50, 50, 50, 0.4);
	background-color: #243d79;
	background-image: none;
	box-shadow: inset 0 1px 0 rgba(50, 50, 50, 0.4);
}

.fb:active>span {
	border-left-color: #2c4b94;
}

.fb:hover>span {
	border-left: 1px solid #51668c;
}

.login_button:active {
	height: 38px;
	margin-top: 2px;
}

.login_button:hover {
	cursor: pointer;
	text-decoration: none;
}

.fix_input_width {
	width: 60% !important;
}

.fix_input_width_facebook{
	width: 82% !important;
}

.margin_left_10 {
	margin-left: 10px;
}

.margin_left_20 {
	margin-left: 20px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#site-heading {
	border-bottom: 1.5px solid #D6D6D6;
	padding-bottom: 8px;
}

#benefits-1,#benefits-2 {
	margin: 0px !important;
}

.already-have-an-account {
	background-color: #F1F1F1;
	padding-bottom: 15px;
}

.complete-your-profile {
    background-color: #F1F1F1;
 
}

.move-to-top {
	margin-top: 0px;
}

.move-to-top-inside {
	margin-top: -30px;
}

#after-days {
	margin-left: 0px !important;
}

.horizontal-wrapper {
	position: relative;
	margin-top: 16px;
}

.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.08em;
	margin-left: -30px;
}

#info {
	display: none;
}

#info h1, #create-site-account h1, #already-member h3{
    line-height: 0px !important;
}


#login-options {
	background: url("../img/triangle.png") no-repeat scroll 22px 0
		transparent;
	height: 14px;
	margin-top: -10px;
}

#facebox .popup, #facebox .content {
	min-width: 600px;
}

.popup{
    width: 621px;
}

.terms-and-conditions{
	font-size: 18px;
    font-weight: bold;
    line-height: 0px !important;
}

#action-icons{
	background-color: #F7F7F7;
}

.remove-margin-bottom{
    margin-bottom: 0px !important;	
}

#log-in, .no-margin{
	margin: 0px !important;
}
.email-sent{
	color: #333;
}

.input-error{
    border-color: #953B39 !important;
    color: #953B39 !important;
    background-color: #FFE9EA !important;
    
}
.input-error-container{
    background: url("../img/redx.png") no-repeat scroll 227px 28px
	transparent  ;
}

.large-input-error-container{
    background: url("../img/redx.png") no-repeat scroll 227px 8px
	transparent !important;
}

.error-label{
    color: #800000 !important;
    margin-left: 30px;
    position: relative;
    top: -5px;
}

.fix-tnc-width{
    width: 37% !important
}

.fb {
    background: #3b5998;background:-moz-linear-gradient(top, #3b5998 0%, #3b5998 50%, #325190 50%, #325190 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b5998), color-stop(50% , #3b5998), color-stop(50%, #325190), color-stop(100% , #325190));
    background:-webkit-linear-gradient(top, #3b5998 0% , #3b5998 50%, #325190 50% , #325190 100%);
    background:-o-linear-gradient(top, #3b5998 0% , #3b5998 50%, #325190 50% , #325190 100%);
    background:-ms-linear-gradient(top, #3b5998 0% , #3b5998 50%, #325190 50% , #325190 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '#3b5998', endColorstr = '#325190', GradientType = 0);
    background: linear-gradient(top, #3b5998 0%,#3b5998 50% , #325190 50%,#325190 100%);
    box-shadow: 0px 3px 0px #213b6d;
    -moz-box-shadow:0px 3px 0px #213b6d;
    -webkit-box-shadow: 0px 3px 0px #213b6d;
}

.fb:hover{
    background:#2b4582;
    background:-moz-linear-gradient(top, #2b4582 0%, #2b4582 49% , #243d79 49%, #2b4582 100% , #243d79 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b4582), color-stop(49% , #2b4582), color-stop(49%, #243d79), color-stop(100% , #2b4582), color-stop(100%, #243d79));
    background:-webkit-linear-gradient(top, #2b4582 0%, #2b4582 49% , #243d79 49%, #2b4582 100% , #243d79 100%);background:-o-linear-gradient(top, #2b4582 0% , #2b4582 49%, #243d79 49% , #2b4582 100%, #243d79 100% );
    background:-ms-linear-gradient(top, #2b4582 0%, #2b4582 49% , #243d79 49%, #2b4582 100% , #243d79 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '#2b4582', endColorstr = '#243d79', GradientType = 0);
    background: linear-gradient(top, #2b4582 0%,#2b4582 49% , #243d79 49%,#2b4582 100% , #243d79 100%);box-shadow:0px 3px 0px #172d59;-moz-box-shadow: 0px 3px 0px #172d59;-webkit-box-shadow:0px 3px 0px #172d59
}

.fb:active {
    background-color: #243d79;
    background-image:none;
    box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4);
    -moz-box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4);
    -webkit-box-shadow:inset 0px 1px 0px rgba(50,50,50,0.4);
}

.fb .logo_wrapper {
    border-right: 1px solid #2f4f85
}

.fb:hover .logo_wrapper {
    border-right: 1px solid #284473;
}

.fb:active .logo_wrapper {
    border-right-color:#21386e;
}

.fb .logo {
    float: left;
    width: 11px;
    height: 20px;
    background: url("../img/login_icons.png") 1px 0 no-repeat;
}

.fb > span {
    border-left: 1px solid #627ba8;

}

.fb:hover > span {
    border-left: 1px solid #51668c
}

.fb:active > span {
    border-left-color: #2c4b94
}

.not-active{
    width: inherit;
    padding-left:   15px;
    padding-right:  15px;
    padding-top:    20px;
    padding-bottom: 20px;
}

.no-top{
    top: 0 !important;
}

#ajax-loader{
    line-height: 26px;
    margin-left: 10px !important;
}

#ajax-loader-secondary{
    line-height: 26px;
    margin-left: 10px !important;
}


.cursor-pointer{
    cursor: pointer;
}

/*
 #footer{
    display: none !important;
    visibility:hidden !important;
}

.smallfont{
    display: none !important;
    visibility:hidden !important;
} 

.page{
    display: none !important;
    visibility:hidden !important;
}
*/

.activate-account-container{
    min-height: 600px !important;
}

#have-account-error{
    padding-right: 20px; 
}


label{
    margin:0; 
    padding:0 2px; 
    font-size:11px; 
    font-weight:bold; 
    color:#666666;
}

hr{
    color: #CCCCCC;
    background-color: #CCCCCC; 
}

.padding-left-check-these-out{
    padding-left:10px;
}

.text-margin{
    /*margin-top: 0px !important;
    margin-left:5px !important;
    margin-bottom: 0px !important;
    margin-left:5px !important;
    margin-right: 5px !important;
    */
    margin-right: -20px;
    padding-right: 25px;
}

.avatar-thumbnail{
    width: 50px; 
    height: 50px;
}

.move-to-top-avatar-upload{
    margin-top: -32px;
    color: #333 !important;
    font-size: 14px;
}

.checkbox{
    font-size: 12px !important;
    font-weight: normal !important;
    color: #000 !important;
}

.fix-line-height{
    line-height: 30px;
}

#what-you-get{
    margin-top: -25px;
}

.not-fully-active{
    font-size: 16px;
    font-weight: bold;
    color: #800000 !important;
    line-height: 25px;
}

.please-confirm-account{
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}

.did-not-receive{
    font-size: 12px; 
    font-weight: bold;
    font-color: #333333;
}

#resend-email{
    font-weight: normal !important;
}

#email-icon{
    padding-top:15px;
}

#container{
    background-color: white;
}

#footer  > :nth-child(1){
    background-color: white;
}

#container-wrapper{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fileupload-new{
    font-size:14px;
}

#terms-and-conditions-error-label{
    top: 2px !important;
}

.terms-and-conditions-input-error-container{
    background: url("../img/redx.png") no-repeat scroll 227px 3px transparent !important;
}

div.content table.tborder{
    border: 0px !important;
}

#datepicker-error-label{
    top: 5px !important;
}

#terms_and_conditions-error-label{
    left: 30px !important;
    top: -19px !important; 
}
