/*
#what-you-get{
    margin-top: 10px !important;
}
*/

#create-new-account-button{
    margin: 0px !important;
}

.add-on{
    margin-top: 0px !important;
}

.not-active{
    width: 100% !important;   
}


.vertical-rule{
    background-size: 10px !important;
}

.placeholder { 
    color: #999999 !important;
    font-weight: lighter !important; 
}

/*

#upload-group{
    float: right;
    margin-right: 151px !important;
    position: relative !important;
    top: -50px !important;
}

#remove{
    float: right;
    margin-right: 151px !important;
    position: relative !important;
    top: -50px !important;
}

*/
/*
.ie-align-picker{
    margin-left: 28px !important;
    margin-top:  -30px !important;
    position: relative !important;
    width: 180px !important;
}
*/
#placeholder-datepicker{
    left: 33px !important;
    top: -22px !important;
}

#terms_and_conditions-error-label{
    left: 60px !important;
    top: -19px !important; 
}

.inner-footer{
    background-color: white;
}

.ie7 .background-yellow {  
    width: 100% !important; 
}
