#what-you-get{
    margin-top: 10px !important;
}

#create-new-account-button{
    margin: 0px !important;
}

.add-on{
    margin-top: 0px !important;
}

.not-active{
    width: 100% !important;   
}


.vertical-rule{
    background-size: 10px !important;
}

.placeholder { 
    color: #999999 !important;
    font-weight: lighter !important; 
}

#upload-group{
    float: right;
    margin-right: 151px !important;
    position: relative !important;
    top: -50px !important;
}
