#what-you-get{
    margin-top: 280px !important;
}

#create-new-account-button{
    margin: 0px !important;
}

.add-on{
    margin-top: 1px !important;
}

.not-active{
    width: 100% !important;   
}

/*
.vertical-rule{
    background-size: 10px !important;
}
*/

.placeholder { 
    color: #aaa; 
}

.upload-group{
    margin-left: -1px !important;
}
