P/*
    Global font
*/
#container, #container-wrapper  {
	font-family: Helvetica, Arial, 'sans-serif';
	font-size: 12px;
}


#container a{
    text-decoration:none !important;
}

#container a:hover{
    text-decoration:underline;
}

.btn a:hover{
    text-decoration:none !important;
}


#container p  {
	font-family: Helvetica, Arial, 'sans-serif' !important;

}
 
 

/*
    Fonts
*/
h1,h2 {
	font-size: 18px;
	font-weight: bold;
}



h3 {
	font-size: 18px;
	font-weight: normal;
}

sup,sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #666666;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
	background-color: white;
}

.label {
	font-size: 13px;
}

.tiny {
	font-size: 11px;
}

.small {
	font-size: 12px;
}

#benefits-1 li {
	font: 12px Helvetica,Arial,'sans-serif' !important;
}

#benefits-2 li {
	font: 12px Helvetica,Arial,'sans-serif' !important;
}


.normal {
	font-size: 14px;
}

.bold {
	font-weight: bold;
}

select{
    font: 14px Helvetica,Arial,'sans-serif' !important;
}
