.sr-background_yellow {
	background-color: #FFFFCC;
	*width: 100% !important;
	*padding-bottom: 20px;
	*padding-top: 20px;
	
}

.sr-not-active{
    width: inherit;
    padding-left:   15px;
    padding-right:  15px;
    padding-top:    20px;
    padding-bottom: 20px;
}

.sr-not-fully-active{
    font-size: 16px;
    font-weight: bold;
    color: #800000 ;
    line-height: 25px;
}


#sr-log-in, .sr-no-margin{
	margin: 0px ;
}

.sr-margin_left_20 {
	margin-left: 20px;
}

.sr-clear_5 {
	min-height: 5px;
}

.sr-clear_10 {
	min-height: 10px;
}

.sr-clear_20 {
	min-height: 20px;
}

.sr-clear_15 {
	min-height: 15px;
}

.sr-clear_30 {
	min-height: 30px;
}

.sr-did-not-receive{
    font-size: 12px; 
    font-weight: bold;
    font-color: #333333;
}

.sr-please-confirm-account{
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}

#sr-resend-email{
    font-weight: normal;
}

#sr-email-icon{
    padding-top:15px;
}

.sr-link_blue {
	color: #0066DD;
	cursor: pointer;
	text-decoration: none;
}


.sr-email-sent{
	color: #333;
}

.sr-small {
	font-size: 12px;
}

#sr-container {
	font-family: Helvetica, Arial, 'sans-serif';
	font-size: 12px;
}

a.sr-link_blue {
	color: #0066DD;
	cursor: pointer;
}
